/* Landing.css */
.landing-container {
   /* background-image: url('./img.jpg');  */
    background-size: cover;
    background-position: center;
    min-height: 100vh; 
    /* display: flex; */
    /* Ensure the container covers the entire viewport height */
  }
.box1{
  border-radius:8px;
  background-color: #19A7CE;
  height: 65vh;
}
.box2{
  height: 75vh;
  border-radius:8px;
}
.card1{
  position: absolute;
  margin-left: 50%;
  width: 25%;
  /* top: 50%; */
  transform: translateY(6%);

}
.card2{
  position: absolute;
  margin-left: 70%;
  width: 25%;
}
.custom-image{
  
  height:75vh;
  width: 75vh;
}
.btn:hover{
 background-color: green;
}