.container{
    margin-top: 4%;
    padding-top: -7%;
    width: 27%;
    height: 40%;
    border-style: groove;
    border-radius: 6%;
    background-color: #19A7CE;
}
.whole{
    text-align: left;
}
.form-label{
    text-align: justify;
}
.btn{
  background-color: #146C94;
}